# Server
PORT=5050

# Supabase
SUPABASE_URL=https://enyuiljwscneywhjkkpd.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVueXVpbGp3c2NuZXl3aGpra3BkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTg3NjExMDcsImV4cCI6MjA3NDMzNzEwN30.rFOBoV-itp39U_T5TqoQ2BZBANAMPW0onTyUgAR-pLU
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVueXVpbGp3c2NuZXl3aGpra3BkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1ODc2MTEwNywiZXhwIjoyMDc0MzM3MTA3fQ.okcsiier4P51flaopOaEGN48IdtZmKJjwyeFrQmvlvc

# Cloudinary
CLOUDINARY_CLOUD_NAME=dqsr3d9hy
CLOUDINARY_API_KEY=132525659832726
CLOUDINARY_API_SECRET=MRiIXcNHRCyD0ki7L532ZmzKwno

# JWT - MUST match user-service secret exactly
JWT_ACCESS_TOKEN_SECRET=your_jwt_secret_here
