name: Deploy Login UI to Vercel

env:
  VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}

on:
  push:
    branches:
      - main
      - github-actions
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
  
      - name: Install Vercel CLI
        run: |
          npm install -g vercel
  
      - name: Deploy to Vercel
        env:
          VERCEL_PROJECT_ID: ${{ secrets.VERCEL_LOGIN_UI_PROJECT_ID }}
        run: |
          vercel --prod --cwd ./frontend/frontend --token ${{ secrets.VERCEL_TOKEN }} --yes
